<div class="ui fluid action input" id="attributeChoice" style="margin-bottom: 15px;">
    {{ form_widget(formFields, {'attr': {'class': 'ui fluid search dropdown', 'id': 'sylius_field_choice'}}) }}
    <button id="addFieldsBtn" class="ui green labeled icon button" type="button">
        <i class="icon plus"></i> {{ 'sylius_registration_drawing.admin.add_fields'|trans }}
    </button>
</div>

