{% set menu = knp_menu_get('sylius.admin.registration_drawing_form', [], {'registration_drawing': registration_drawing}) %}
{{ knp_menu_render(menu, {'template': '@AkkiSyliusRegistrationDrawingPlugin/_menu.html.twig', 'form': form, 'registration_drawing': registration_drawing}) }}

<div class="js-subst-fields" data-subst-fields="{{ akki_registration_drawing_substituable_fields()|json_encode }}"></div>
