<form action="">
    <input type="hidden" name="id" value="{{ data.id }}">
    <button class="ui primary labeled icon button" type="submit" data-requires-confirmation><i class="icon send"></i>{{ 'sylius_registration_drawing.ui.send_registration_drawing'|trans }}</button>
</form>

